<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>saramit | 사람잇</title>
</head>
<body>
    <div class="container">
        <h1>프로젝트 작업 안내</h1>
        <hr/>
        <div class="row">
            <div class="col">
                <h3>작업은 각자 할당된 브랜치에서만 작업해주세요.</h3>
                <p style="color:red; font-weight: bold">(develop, master 및 타브랜치에서 작업 금지)</p>
                <p>할당 브랜치 및 역할은 우측 표에서 확인해주세요.</p>
            </div>
            <div class="col-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Branch명</th>
                        <th scope="col">역할</th>
                        <th scope="col">담당자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>master</td>
                        <td>최종 배포 및 버전 관리</td>
                        <td>정재호</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>develop</td>
                        <td>개발용 Branch: 각 Branch 코드 종합</td>
                        <td>정재호</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>branch01</td>
                        <td>HTML,CSS,Bootstrap으로 페이지 구성</td>
                        <td>최필경</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>branch02</td>
                        <td>JS, jQuery로 OpenAPI와 DB POST 가져오기</td>
                        <td>김지호</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>branch03</td>
                        <td>python으로 MongoDB 구축</td>
                        <td>정재호</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <h2>GitHub 사용법 가이드라인</h2>
        <a href="https://theplayspace.tistory.com/35">클릭해주세요</a>
    </div>
</body>
</html>
